:root{
--bg:#eef2f6;
--card:#ffffff;
--text:#000;
--button:#2f3640;
}

.dark{
--bg:#1e1e1e;
--card:#2c2c2c;
--text:#fff;
--button:#444;
}

body{
background:var(--bg);
color:var(--text);
font-family:Arial;
margin:0;
padding:20px;
}

.container{
max-width:1000px;
margin:auto;
background:var(--card);
padding:20px;
border-radius:10px;
}

.topbar{
display:flex;
justify-content:space-between;
}

button{
background:var(--button);
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-top:20px;
}

.card{
background:var(--bg);
padding:10px;
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

@media(max-width:700px){
.grid{grid-template-columns:1fr}
.stats{grid-template-columns:1fr}
}